<app-header></app-header>
<section id="CryptoPlayground">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="CryptoPlaygroundImage">
                  <img src="/assets/img/journeys.png" alt="blockchain">
              </div>
          </div>
          <div class="col-md-6">
              <div class="CryptoPlaygroundImageContent">
                  <h4>
                      <span>CryptoPlayground’s </span> <br />
                      learning journeys
                  </h4>
                  <p>
                      Whether you want to invest or just expand your knowledge of the cryptocurrency environment,
                      one of the
                      CryptoPlayground’s 5 learning journeys offers something for everyone.
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- ================================ CryptoPlayground // end =================================== -->

<!-- ================================ CryptoPlayground // end =================================== -->
<section id="environment">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="environment-title">
                  <h3>CryptoPlayground learners, within a safe and secure environment, gain the ability to IDEAC:
                  </h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="environmentCard">
                  <div class="environmentImg">
                      <img src="/assets/img/invest.png" alt="">
                  </div>
                  <div class="environmentDetail">
                      <h3>Invest</h3>
                      <p>build your skills through the use of our trading bot</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="environmentCard">
                  <div class="environmentImg">
                      <img src="/assets/img/Explore.png" alt="">
                  </div>
                  <div class="environmentDetail">
                      <h3>Explore</h3>
                      <p>build your skills through the use of our trading bot</p>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="environmentCard">
                  <div class="environmentImg">
                      <img src="/assets/img/demo.png" alt="">
                  </div>
                  <div class="environmentDetail">
                      <h3>Demo</h3>
                      <p>build your skills through the use of our trading bot</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="environmentCard">
                  <div class="environmentImg">
                      <img src="/assets/img/adopt.png" alt="">
                  </div>
                  <div class="environmentDetail">
                      <h3>Adopt</h3>
                      <p>build your skills through the use of our trading bot</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="environmentCard">
                  <div class="environmentImg">
                      <img src="/assets/img/create.png" alt="">
                  </div>
                  <div class="environmentDetail">
                      <h3>Create</h3>
                      <p>build your skills through the use of our trading bot</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ================================ CryptoPlayground // end =================================== -->

<!-- ================================ CryptoPlayground // end =================================== -->
<section id="socialNetworking">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="web-heading">
                  <h3>Social Networking</h3>
                  <P>
                      Build a network of friends who are on the same learning journey and share similar interests.
                      Create your own bespoke
                      community, exchange digital assets and post content to your favorite social media networks.
                  </P>
                  <img src="/assets/img/social.png" alt="image">
              </div>
          </div>
      </div>

  </div>
</section>
<!-- ================================ CryptoPlayground // end =================================== -->

<!-- ================================ CryptoPlayground // end =================================== -->
<section id="faq">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="web-heading text-center">
                  <h3>Faq's</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingOne1">
                          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                              aria-expanded="true" aria-controls="collapseOne1">
                              <h5 class="mb-0">
                                  What do you stand to gain? <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </h5>
                          </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  The ability to confidently, play, make mistakes and learn, safely and securely,
                                  within our cryptocurrency environment to
                                  teach you how to transition to real world, everyday usage.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->

                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingTwo2">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                              <h5 class="mb-0">
                                  Why are people signing up? <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </h5>
                          </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  More than one in three people who get involved in Cryptocurrencies know or even
                                  understand what they are doing
                                  <a
                                      href="https://www.cardify.ai/reports/crypto">(https://www.cardify.ai/reports/crypto)</a>
                                  and yet in the month of February 2021 there was a 16% increase in adoption.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->

                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree3">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                              <h5 class="mb-0">
                                  What is the difference between this crypto education and others online? <i
                                      class="fa fa-angle-down" aria-hidden="true"></i>
                              </h5>
                          </a>


                      </div>

                      <!-- Card body -->
                      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  This tool, provides all crypto education in one location., whereas others only
                                  teach aspects of crypto. Within the
                                  CryptoPlayground you can learn to invest as well as play with non- fungible
                                  tokens, discover how to create a wallet,
                                  stake, learn about the different currencies and exchanges and more, while
                                  experimenting safely and securely on our
                                  simulated platform.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->
                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree4">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                              <h5 class="mb-0">
                                  What is a simulated crypto platform? <i class="fa fa-angle-down"
                                      aria-hidden="true"></i>
                              </h5>
                          </a>


                      </div>

                      <!-- Card body -->
                      <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  This is created when a computer simulates in 3 dimensions a real world as well
                                  as in imaginary world environment and a
                                  person can interact with it. The experience is as close to 'real life' as
                                  possible. however, the additional benefit is
                                  that it allows learners to 'reset' the scenario and try alternative strategies
                                  and approaches safely.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->
                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree5">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                              <h5 class="mb-0">
                                  What repercussions are there if I make mistakes on this platform? <i
                                      class="fa fa-angle-down" aria-hidden="true"></i>
                              </h5>
                          </a>


                      </div>

                      <!-- Card body -->
                      <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  There are no repercussions as we learn by making mistakes and then redoing the
                                  task to get it right. You can confidently
                                  go over and over your learning journeys and be safe in the knowledge that there
                                  are no detrimental effects within this
                                  platform.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->
                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree6">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                              <h5 class="mb-0">
                                  How secure is this platform? <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </h5>
                          </a>


                      </div>

                      <!-- Card body -->
                      <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  One of the co-founders is a US military veteran and cybersecurity expert so all
                                  personal information on the platform is
                                  secure. The learning environment is safe for you to experience this complex
                                  ecosystem.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->
                  <!-- Accordion card -->
                  <div class="card">

                      <!-- Card header -->
                      <div class="card-header" role="tab" id="headingThree7">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                              href="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                              <h5 class="mb-0">
                                  How do I transition to real world usage? <i class="fa fa-angle-down"
                                      aria-hidden="true"></i>
                              </h5>
                          </a>
                      </div>

                      <!-- Card body -->
                      <div id="collapseThree7" class="collapse" role="tabpanel" aria-labelledby="headingThree7"
                          data-parent="#accordionEx">
                          <div class="card-body">
                              <p>
                                  When ready you can set up your real wallet, use a blockchain/crypto debit card
                                  and more outside of the learning
                                  environment. You can practice doing these things within the platform safely and
                                  build your confidence however once you
                                  leave the platform learning environment, you take personal responsibility for
                                  your choices.
                              </p>
                          </div>
                      </div>

                  </div>
                  <!-- Accordion card -->


              </div>
              <!-- Accordion wrapper -->
          </div>
      </div>
  </div>
</section>
<!-- ================================ CryptoPlayground // end =================================== -->


<!-- ================================ CryptoPlayground // end =================================== -->
<section id="socialNetworking" class="business">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="web-heading">
                  <h3>Do you have a
                      crypto-blockchain business?</h3>
                  <P>
                      Have your concept modeled into our simulated environment so the world can see how useful
                      your project really is. Users
                      can learn about and experience the utility of existing projects and make informed decisions
                      to invest or utilize.
                  </P>
                  <img src="/assets/img/blockchain.png" alt="image">
              </div>
          </div>
      </div>

  </div>
</section>
<!-- ================================ CryptoPlayground // end =================================== -->
<!-- ================================ userForm // start =================================== -->
<section id="userForm">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="form-title">
                  <h3>Sign up now, to our FREE, soon to be released, simulated, virtual CryptoPlayground and be
                      rewarded with early access.</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="quote-detail">
                  <form action="" method="get">
                      <div class="row">

                          <div class="col-md-6">
                              <div class="input-field">
                                  <label for="">First Name</label>
                                  <input type="text" name="" placeholder="Enter first name">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="input-field">
                                  <label for="">Last Name</label>
                                  <input type="text" name="" placeholder="Enter last name">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="input-field">
                                  <label for="">Your email</label>
                                  <input type="text" name="" placeholder="abc@gmail.com">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="input-field">
                                  <label for="">Password</label>
                                  <input type="text" name="" placeholder="**********">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="select-field">
                                  <select name="" id="">
                                      <option value="">How did you first learn about the CryptoPlayground?
                                      </option>
                                      <option value="">Type of Paper 1</option>
                                      <option value="">Type of Paper 2</option>
                                      <option value="">Type of Paper 3</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="select-field">
                                  <select name="" id="">
                                      <option value="">What is your main goal with the CryptoPlayground?</option>
                                      <option value="">Type of Paper 1</option>
                                      <option value="">Type of Paper 2</option>
                                      <option value="">Type of Paper 3</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="input-checked">
                                  <label class="container1"> Yes I want to receive your newsletter
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                          </div>
                      </div>


                      <div class="get-quote">
                          <input type="submit" value="Create account" class="btn-type-1 quote-btn">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
