<header>
  <div class="top-bar">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6">
                  <div class="logo-img">
                      <img src="/assets/img/logo.png" alt="">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="header-btn">
                      <a routerLink="login" class="web-btn">Regular</a>
                  </div>
              </div>
          </div>
      </div>
      <img class="top-bar-icon" src="/assets/img/header-clircle.png" alt="icon">
  </div>
  <div class="banner">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="banner-detail">
                      <div class="banner-title">
                          <h1>World's first simulated and social crypto environment</h1>
                          <img class="line-icon1" src="/assets/img/header-line-icon1.png" alt="">
                          <img class="line-icon2" src="/assets/img/header-line-icon2.png" alt="">
                      </div>
                      <p>Secure | Immersive| Educational | Connected</p>

                      <div class="banner-down-img">
                          <img class="banner-down-icon" src="/assets/img/header-line-icon3.png" alt="icon">
                          <img src="/assets/img/header-line-icon4.png" alt="image">
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</header>
